.contactus {
    display: flex;  
    margin-top: 2vh;
    background-color: #1A1A1A;
    /* transform: skewY(-2deg); */
}


.contact {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 2vh;
    width: 100%;
    height: auto;
    margin-right: 2vh;

}

.Contact-card {
    width: auto;
    height: auto;
    background: #171717;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    margin-left: 2vh;
    display: flex;
    flex-direction: column;
}

.Contact-card span {
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    font-size: 1em;
}

.Contact-card .info {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    font-size: 0.72em;

}


.Contact-card .share {
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
}

.Contact-card .social {
    color: white;
    transition: .4s ease-in-out;
    width: 2rem;
}

.Contact-card .social:hover {
    color: red;
}


.Contact-card button {

    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
}

.Contact-card button:hover {
    background: red;
    color: white;
    cursor: pointer;
}

.form {
    display: flex;
    flex: 1.5;
    height: 18em;
    transform: skewY(2deg);
    margin-top: 5vh;

}