.dashboardmain {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
}

.hello {
    margin-left: 5vh;
    margin-top: 20vh;

}

.hello .text {

    margin-left: 12vh;
    font-family: Inter, sans-serif;
    font-weight: bold;
    color: RGB(196, 196, 196);
    font-size: larger;
    line-height: 20px;
    width: fit-content;
}

.hello .text2 {
    /* Add a specific distance from the left edge */
    margin-left: 12vh;
    /* Adjust this value as needed */
    margin-top: 6vh;
    font-family: DM Serif Display;
    font-weight: bolder;
    color: RGB(255, 255, 255);
    font-size: 6vh;
    line-height: 5vh;
    width: fit-content;
}




.secondcontainer {
    position: relative;
    display: inline-block;
}

.image-container {
    position: relative;
    width: 90%;
    height: 150%;
    overflow: hidden;
    border-radius: 50vh;
}

.static-image,
.animated-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.static-image {
    z-index: 1;
    opacity: 1;
}

.animated-gif {
    z-index: 2;
    opacity: 0;
}

.secondcontainer:hover .animated-gif {
    opacity: 1;
}

