.box .navButtons {
    display: flex;
    align-items: center;
    font-family: Roboto (ttf) Helvetica Arial sans-serif;
    font-weight: bolder;
    background-color: #151515;
  
}

.box .navButtons:hover {
    color: rgb(255, 226, 146);
    background-color: #151515; 
   
    
}

.main .name {
    font-family: Inter, sans-serif;
    font-weight: 700;
    
}


.box .navButtons {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.main .name {
    font-family: Inter, sans-serif;
    font-weight: 700;
}




@media (max-width: 600px) {
    .box .navButtons {
        /* Styles for small screens */
        font-size: 14px; /* Adjust font size for small screens */
    }

    .main .name {
        /* Styles for small screens */
        font-size: 18px; /* Adjust font size for small screens */
    }
}

