.navbar {
  background-color: #151515;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.main-toolbar {
  display: flex;
  justify-content: space-between;

  align-items: center;
  width: 100%;
}

.name-container {
  display: flex;
  align-items: center;
  margin-right: 10rem;
}

.name {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: #fff;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.navButtons {
  display: flex;
  align-items: flex-end;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: bolder;
  background-color: #151515;
}

.navButtons:hover {
  color: #ffe292;
  background-color: #151515;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .buttons-container {
    display: none;
  }
}
