/* Default styles for larger screens */
.box .navButtons {
    display: flex;
    align-items: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: bolder;
    background-color: #151515;
  }
  
  .box .navButtons:hover {
    color: rgb(255, 226, 146);
    background-color: #151515;
  }
  
  .main .name {
    font-family: Inter, sans-serif;
    font-weight: 700;
  }
