.card {
    width: 112vh;
    height: 70vh;
    background-color: #555;
    border-radius: 8px;
    z-index:1;
    /* transform: skewY(-1deg); */
    margin-left: 5vh;
    margin-top: 5vh;
    border-radius: 2vh;
    box-shadow: #ffbd44;
    box-sizing: initial;
}

.card-image{
    border-radius: 2vh;
    height: 67vh;
    width: 112vh;
    
    
}
.firstcontent-container{
    background-color: #ffbd44;
    background-image: linear-gradient(140deg, #e4e7b7, #BC9810);
    width: 130vh;
    height: 70vh;
    margin-left: 65vh;
    margin-top: -30vh;
    border-radius: 2vh;
    
}
.line {
    border-top: 0.3vh;
    border-top-color: #1A1A1A;
    border-top-style: solid;
    position: relative;
    top: 45vh;
    transform: translateY(-40%); /* Adjust for half of the container's height */
    text-align: center; /* Center text horizontally */
    font-weight: bold;
}

.second{
    background-image: linear-gradient(140deg, #7a99b9, #383838);
    color: white;
    
}

.third{
    background-image: linear-gradient(140deg, #97E0EF, #4CB9DA);
}

.forth{
    background-image: linear-gradient(140deg, #FFFFFF, #f7c628);
}


.heading{
    position: relative;
    top: 35vh;
    /* transform: skewY(2deg); */
}
.skills-wrapper h3{
    font-weight: bolder;
    color: #1A1A1A;
    font-family:  'Courier New', Courier, monospace;
    font-size: 5vh;
}

.tools {
    display: flex;
    align-items: center;
    padding: 3px;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

.skills-wrapper {
    background-color: #1A1A1A;
    transform: skewY(-2deg);
    margin-top:10vh;
    overflow-y: hidden;
    width: auto;
}