.skillsection {
	color: tan;
	display: flex;
	flex-wrap: wrap; /* Enable wrapping */
	justify-content: center; /* Center items horizontally */
	transform: skewY(2deg);
	margin: 4vh 10vh;
	gap: 4vh; /* Add gap between items */
  }

  .skill-item h5 {
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap; /* Prevent text from wrapping */
	text-align: center; /* Center align the text */
  }
  
  
  .skill-item {
	flex: 1 1 auto; 
	max-width: 300px; 
	text-align: center;
  }
  
  .skills-wrapper1 {
	background-color: #1A1A1A;
	transform: skewY(-2deg);
	margin: auto;
	overflow-x: hidden;
  }
  
  .skills-wrapper1 h3 {
	color: white;
	text-align: center;
	padding-bottom: 10px;
	transform: skewY(2deg);
  }
  
  .skills-wrapper1 h6 {
	font-family: Inter, sans-serif;
	text-align: center;
	margin: 0 3em 0.5em 3em;
	line-height: 5vh;
	transform: skewY(2deg);
	color: #C2C27D;
  }
  
  .skill-item img {
	width: 50px; /* Set a fixed width for the images */
  }
  
  .skill-item img:hover {
	transition: 1s ease;
	transform: rotateZ(360deg);
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 1024px) {
	.skill-item {
	  flex: 1 1 45%; /* Adjust the flex-basis for medium screens */
	}
  
	.skills-wrapper1 h6 {
	  font-size: 0.9em;
	  margin: 0 1em 0.5em 1em;
	}
  }
  
  @media (max-width: 768px) {
	.skill-item {
	  flex: 1 1 20%; /* Adjust the flex-basis for smaller screens */
	  margin: 5px;
	}
  
	.skills-wrapper1 h6 {
	  font-size: 0.9em;
	  margin: 0 1em 0.5em 1em;
	}
  }
  
  @media (max-width: 480px) {
	.skill-item {
	  flex: 1 1 90%; /* Adjust the flex-basis for even smaller screens */
	  margin: 5px;
	}
  
	.skills-wrapper1 h6 {
	  font-size: 0.8em;
	  margin: 0 0.5em 0.5em 0.5em;
	}
  }
  