.skillsection {
	color: tan;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap; /* Prevent wrapping to the next line */
	transform: skewY(2deg);
	margin-left: 10vh;
	margin-top: 4vh;
  }
  
  .skillsection > div {
	flex: 1; /* Distribute available space equally among the elements */
  }
  
  .skills-wrapper1 {
	background-color: #1A1A1A;
	transform: skewY(-2deg);
	margin-top: 25vh;
	overflow-x: hidden;
  }
  
  .skills-wrapper1 h3 {
	color: white;
	text-align: center;
	padding-bottom: 10px;
	transform: skewY(2deg);
  }
  
  .skills-wrapper1 h6 {
	font-family: Inter, sans-serif;
	text-align: center;
	margin: 0 3em 0.5em 3em;
	line-height: 5vh;
	transform: skewY(2deg);
	color: #C2C27D;
  }
  
  .skillsection img {
	width: 20%;
  }
  
  .skillsection .githubimg:hover,
  .skillsection .javascriptimg:hover,
  .skillsection .reactjsimg:hover,
  .skillsection .htmlimg:hover,
  .skillsection .cssimg:hover,
  .skillsection .sqlimg:hover,
  .skillsection .javaimg:hover,
  .skillsection .springimg:hover,
  .skillsection .pythonimg:hover,
  .skillsection .microserviceimg:hover {
	transition: 1s ease;
	transform: rotateZ(360deg);
  }
  
